:root{
    /* Шрифт */
    --main-font: 'Roboto', sans-serif;
    /* Цвет текста*/
    --primary-text-color: #757575;
    --title-text-colour: #212121;
    --accent-colour: #2196f3;
    /* Цвет фона акцент */
    --background: #2f303a;
}